In [1]:
from datetime import datetime

In [2]:
from payfusion.server.payfusion.apps.integrations.aws.ddb.tool import DDB
from payfusion.server.payfusion.apps.integrations.aws.ddb.utils.utils import dynamodb_obj_list_to_df

In [3]:
from payfusion.server.payfusion.apps.integrations.aws.ddb.tool import DDB


feed_df = DDB(table_name="payfusion_logs_table").grab_client_table(client_name="greenleaf")

In [4]:
feed_df

,date,file_status,feed_name,client_name,TTL,customer_name,error_details
0,11/09/2023:10:55:44,Success,wex_fsa,greenleaf,1731092144,intrepid,NaN
1,11/16/2023:19:23:30,Success,wex_cobra,greenleaf,1731698610,medmen,NaN
2,11/16/2023:20:43:56,Success,okta_demographic_updates,greenleaf,1731703436,parallel,NaN
3,11/16/2023:22:43:53,Success,okta_demographic_updates,greenleaf,1731710633,parallel,NaN
4,11/17/2023:00:43:54,Success,okta_demographic_updates,greenleaf,1731717834,parallel,NaN
...,...,...,...,...,...,...,...
301,12/04/2023:00:43:53,Success,okta_demographic_updates,greenleaf,1733186633,parallel,NaN
302,12/04/2023:02:43:51,Success,okta_demographic_updates,greenleaf,1733193831,parallel,NaN
303,12/04/2023:04:43:52,Success,okta_demographic_updates,greenleaf,1733201032,parallel,NaN
304,12/04/2023:06:43:52,Success,okta_demographic_updates,greenleaf,1733208232,parallel,NaN
305,12/04/2023:08:43:54,Success,okta_demographic_updates,greenleaf,1733215434,parallel,NaN

In [3]:
ddb_obj = DDB("payfusion_logs_table")

In [9]:
date_and_time_now = datetime.now().strftime("%m/%d/%Y:%H:%M:%S")
response = ddb_obj.run_between_query(partition_key_col_name="client_name", partition_key_value="greenleaf", column_name="date", first_bound="01/01/2023", second_bound=date_and_time_now)
response = dynamodb_obj_list_to_df(response)
response

,date,file_status,feed_name,client_name,TTL,customer_name,error_details
0,11/09/2023:10:55:44,Success,wex_fsa,greenleaf,1731092144,intrepid,NaN
1,11/16/2023:19:23:30,Success,wex_cobra,greenleaf,1731698610,medmen,NaN
2,11/16/2023:20:43:56,Success,okta_demographic_updates,greenleaf,1731703436,parallel,NaN
3,11/16/2023:22:43:53,Success,okta_demographic_updates,greenleaf,1731710633,parallel,NaN
4,11/17/2023:00:43:54,Success,okta_demographic_updates,greenleaf,1731717834,parallel,NaN
...,...,...,...,...,...,...,...
301,12/04/2023:00:43:53,Success,okta_demographic_updates,greenleaf,1733186633,parallel,NaN
302,12/04/2023:02:43:51,Success,okta_demographic_updates,greenleaf,1733193831,parallel,NaN
303,12/04/2023:04:43:52,Success,okta_demographic_updates,greenleaf,1733201032,parallel,NaN
304,12/04/2023:06:43:52,Success,okta_demographic_updates,greenleaf,1733208232,parallel,NaN
305,12/04/2023:08:43:54,Success,okta_demographic_updates,greenleaf,1733215434,parallel,NaN

In [5]:
type(response)

pandas.core.frame.DataFrame

In [6]:
import datetime

In [7]:
from datetime import datetime

In [8]:
datetime.now().strftime("%m/%d/%Y:%H:%M:%S")

'12/04/2023:09:05:01'