In [1]:
import pandas as pd
from payfusion.server.payfusion.apps.integrations.aws.s3.tool import s3Instance

In [2]:
s3_obj = s3Instance()

In [3]:
df = pd.read_excel("trulieve_census_june_hires.xlsx")

In [4]:
df

,Company Name,Company ID,Employee Last Name and Suffix,Employee First Name,Employee MI,Employee Preferred Name,Employee ID,Employee Clock ID,Tax ID Formatted,Sex,...,Length of Service,Termination Length of Service,Position,Supervisor,Primary Org,Org Level 1,Org Level 2,Org Level 3,Org Level 4,Org Level 5
0,The Healing Corner INC,18123224,Finol,Raquel,NaN,NaN,104470,104470.0,783-43-3218,Female,...,0 year(s) 0 month(s),NaN,NaN,"Ouellette, Morgan",1125 Dispensary Asso,R10100 CT-R-Bristol-,R106 Dispensary,1125 Dispensary Asso,NaN,NaN
1,The Healing Corner INC,18123224,Goodwin,Hannah,NaN,NaN,104198,104198.0,046-98-3875,Female,...,0 year(s) 1 month(s),NaN,NaN,"Ouellette, Morgan",1125 Dispensary Asso,R10100 CT-R-Bristol-,R106 Dispensary,1125 Dispensary Asso,NaN,NaN
2,The Healing Corner INC,18123224,Rodriguez,Alize,NaN,NaN,104526,104526.0,044-98-9510,Female,...,0 year(s) 0 month(s),NaN,NaN,"Ouellette, Morgan",1125 Dispensary Asso,R10100 CT-R-Bristol-,R106 Dispensary,1125 Dispensary Asso,NaN,NaN
3,The Healing Corner INC,18123224,Ruest,Sarah,NaN,NaN,104043,104043.0,046-98-0795,Female,...,0 year(s) 1 month(s),NaN,NaN,"Ouellette, Morgan",1125 Dispensary Asso,R10100 CT-R-Bristol-,R106 Dispensary,1125 Dispensary Asso,NaN,NaN
4,The Healing Corner INC,18123224,Skinzera,Amber,NaN,NaN,104421,104421.0,044-96-2321,Female,...,0 year(s) 0 month(s),NaN,NaN,"Ouellette, Morgan",1556 Pharmacist,R10100 CT-R-Bristol-,R106 Dispensary,1556 Pharmacist,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,Trulieve Inc,18139988,Willis,Gabrielle,NaN,NaN,104458,104458.0,107-88-4907,Female,...,0 year(s) 0 month(s),NaN,NaN,"Vasquez, Julio A",400 Consultant,7300 Tamarac,7300 Tamarac,400 Consultant,NaN,NaN
211,Trulieve Inc,18139987,Witt,Logan,NaN,NaN,104508,104508.0,592-97-5406,Female,...,0 year(s) 0 month(s),NaN,NaN,"Livingston, Clifton",400 Consultant,7200 Lake City,7200 Lake City,400 Consultant,NaN,NaN
212,Trulieve Inc,18139984,Woods,Dylan,NaN,NaN,104550,104550.0,590-37-3415,Male,...,0 year(s) 0 month(s),NaN,NaN,"Gunnels, Daniel S",026 Production,10220 Tampa Hub,10226 Production,026 Production,NaN,NaN
213,Trulieve Inc,18139986,Woods,Steve,NaN,NaN,104414,104414.0,393-72-5204,Male,...,0 year(s) 0 month(s),NaN,NaN,"LaPierre, Kristin R",400 Consultant,8700 Osprey,8700 Osprey,400 Consultant,NaN,NaN
214,Trulieve Inc,18139985,Yoder,Ashley,NaN,NaN,104451,104451.0,169-76-6559,Female,...,0 year(s) 0 month(s),NaN,NaN,NaN,15000 Specialist,220000 Remote,220300 Human Resourc,15000 Specialist,NaN,NaN

In [5]:
s3_obj.upload_dataframe_as_csv(df, bucket="greenleafhead", key="trulieve/incoming_census_data/manual_data_dumps/june_hire_data.csv")